
.footer {
    padding: 71px 0 136px;
    background: white;
    text-align: center;
    color: var(--black);
}

.footer_component {
    padding: 56px 0;
    color: var(--grey-3);
    background: var(--white-page-component);
    text-align: center;
}

.footer__title {
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.footer__describe {
    margin: 32px 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
